
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="header-page">YOUR PROFILE</h2>
<div class="header-separator"></div>
<br />

<hr class="navigation-top-hr " />
<div>
    <div class="profile-navigation-block">
        <a href="~/Investor/Index" class="active-tab"><span>Profile</span></a>
        <a href="~/Investor/FavoriteSolutions">Favorite Solutions</a>
        <a href="~/Investor/Edit">Settings</a>
    </div>
</div>
<hr class="navigation-bottom-hr " />

