InvestmentPlatform/packages/bootstrap.3.0.0/Content/Content/bootstrap-theme.css
InvestmentPlatform/packages/WebGrease.1.5.2/tools/uninstall.ps1
InvestmentPlatform/packages/WebGrease.1.5.2/tools/install.ps1
InvestmentPlatform/packages/WebGrease.1.5.2/tools/WG.exe
InvestmentPlatform/packages/WebGrease.1.5.2/lib/WebGrease.dll
InvestmentPlatform/packages/Owin.1.0/lib/net40/Owin.dll
InvestmentPlatform/packages/Newtonsoft.Json.6.0.4/lib/portable-net45+wp80+win8+wpa81/Newtonsoft.Json.xml
InvestmentPlatform/packages/Newtonsoft.Json.6.0.4/lib/portable-net45+wp80+win8+wpa81/Newtonsoft.Json.dll
InvestmentPlatform/packages/Newtonsoft.Json.6.0.4/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.xml
InvestmentPlatform/packages/Newtonsoft.Json.6.0.4/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.dll
InvestmentPlatform/packages/Newtonsoft.Json.6.0.4/lib/netcore45/Newtonsoft.Json.dll
InvestmentPlatform/packages/Newtonsoft.Json.6.0.4/lib/net45/Newtonsoft.Json.dll
InvestmentPlatform/packages/Newtonsoft.Json.6.0.4/lib/net40/Newtonsoft.Json.dll
InvestmentPlatform/packages/Newtonsoft.Json.6.0.4/lib/net35/Newtonsoft.Json.dll
InvestmentPlatform/packages/Newtonsoft.Json.6.0.4/lib/net20/Newtonsoft.Json.dll
InvestmentPlatform/packages/Microsoft.Web.Infrastructure.1.0.0.0/lib/net40/Microsoft.Web.Infrastructure.dll
InvestmentPlatform/packages/Microsoft.Net.Compilers.1.3.2/tools/System.Diagnostics.StackTrace.dll
InvestmentPlatform/packages/Microsoft.Net.Compilers.1.3.2/tools/System.Collections.Immutable.dll
InvestmentPlatform/packages/Microsoft.Net.Compilers.1.3.2/tools/System.AppContext.dll
InvestmentPlatform/packages/Microsoft.Net.Compilers.1.3.2/tools/Microsoft.DiaSymReader.Native.x86.dll
InvestmentPlatform/packages/Microsoft.Net.Compilers.1.3.2/tools/Microsoft.DiaSymReader.Native.amd64.dll
InvestmentPlatform/packages/Microsoft.Net.Compilers.1.3.2/tools/Microsoft.CodeAnalysis.dll
InvestmentPlatform/packages/Microsoft.Net.Compilers.1.3.2/tools/Microsoft.CodeAnalysis.VisualBasic.dll
InvestmentPlatform/packages/Microsoft.Net.Compilers.1.3.2/tools/Microsoft.CodeAnalysis.Scripting.dll
InvestmentPlatform/packages/Microsoft.Net.Compilers.1.3.2/tools/Microsoft.CodeAnalysis.CSharp.dll
InvestmentPlatform/packages/Microsoft.Net.Compilers.1.3.2/tools/Microsoft.CodeAnalysis.CSharp.Scripting.dll
InvestmentPlatform/packages/Microsoft.Net.Compilers.1.3.2/tools/Microsoft.Build.Tasks.CodeAnalysis.dll
InvestmentPlatform/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.3/lib/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
InvestmentPlatform/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.dll
InvestmentPlatform/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.Razor.dll
InvestmentPlatform/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.Deployment.dll
InvestmentPlatform/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.Helpers.dll
InvestmentPlatform/packages/Microsoft.ApplicationInsights.Agent.Intercept.2.0.6/lib/net45/Microsoft.AI.Agent.Intercept.dll
InvestmentPlatform/packages/Microsoft.ApplicationInsights.Agent.Intercept.2.0.6/lib/net40/Microsoft.AI.Agent.Intercept.dll
InvestmentPlatform/packages/Microsoft.ApplicationInsights.2.2.0/lib/wp8/Microsoft.ApplicationInsights.dll
InvestmentPlatform/packages/Microsoft.ApplicationInsights.2.2.0/lib/uap10.0/Microsoft.ApplicationInsights.dll
InvestmentPlatform/packages/Microsoft.ApplicationInsights.2.2.0/lib/portable-win81+wpa81/Microsoft.ApplicationInsights.dll
InvestmentPlatform/packages/Microsoft.ApplicationInsights.2.2.0/lib/netstandard1.5/Microsoft.ApplicationInsights.dll
InvestmentPlatform/packages/Microsoft.ApplicationInsights.2.2.0/lib/net46/Microsoft.ApplicationInsights.dll
InvestmentPlatform/packages/Microsoft.ApplicationInsights.2.2.0/lib/net45/Microsoft.ApplicationInsights.dll
InvestmentPlatform/packages/Microsoft.ApplicationInsights.2.2.0/lib/net40/Microsoft.ApplicationInsights.dll
InvestmentPlatform/packages/EntityFramework.6.2.0/tools/migrate.exe
InvestmentPlatform/packages/EntityFramework.6.2.0/tools/install.ps1
InvestmentPlatform/packages/EntityFramework.6.2.0/tools/init.ps1
InvestmentPlatform/packages/EntityFramework.6.2.0/tools/about_EntityFramework.help.txt
InvestmentPlatform/packages/EntityFramework.6.2.0/tools/EntityFramework.psm1
InvestmentPlatform/packages/EntityFramework.6.2.0/tools/EntityFramework.psd1
InvestmentPlatform/packages/EntityFramework.6.2.0/tools/EntityFramework.PowerShell.dll
InvestmentPlatform/packages/EntityFramework.6.1.3/lib/net45/EntityFramework.SqlServer.dll
InvestmentPlatform/packages/EntityFramework.6.1.3/lib/net40/EntityFramework.dll
InvestmentPlatform/packages/EntityFramework.6.1.3/lib/net40/EntityFramework.SqlServer.dll
InvestmentPlatform/packages/EntityFramework.6.1.0/tools/migrate.exe
InvestmentPlatform/packages/EntityFramework.6.1.0/tools/install.ps1
InvestmentPlatform/packages/EntityFramework.6.1.0/tools/init.ps1
InvestmentPlatform/packages/EntityFramework.6.1.0/tools/about_EntityFramework.help.txt
InvestmentPlatform/packages/EntityFramework.6.1.0/tools/EntityFramework.psm1
InvestmentPlatform/packages/EntityFramework.6.1.0/tools/EntityFramework.psd1
InvestmentPlatform/packages/EntityFramework.6.1.0/tools/EntityFramework.PowerShell.dll
InvestmentPlatform/packages/EntityFramework.6.1.0/tools/EntityFramework.PowerShell.Utility.dll
InvestmentPlatform/packages/EntityFramework.6.1.0/lib/net45/EntityFramework.xml
InvestmentPlatform/packages/EntityFramework.6.1.0/lib/net45/EntityFramework.dll
InvestmentPlatform/packages/EntityFramework.6.1.0/lib/net45/EntityFramework.SqlServer.xml
InvestmentPlatform/packages/EntityFramework.6.1.0/lib/net45/EntityFramework.SqlServer.dll
InvestmentPlatform/packages/EntityFramework.6.1.0/lib/net40/EntityFramework.xml
InvestmentPlatform/packages/bootstrap.3.0.0/Content/Content/bootstrap-theme.min.css
InvestmentPlatform/packages/Microsoft.Owin.Security.Twitter.3.0.1/lib/net45/Microsoft.Owin.Security.Twitter.dll
InvestmentPlatform/packages/Microsoft.Owin.Security.OAuth.3.0.1/lib/net45/Microsoft.Owin.Security.OAuth.dll
InvestmentPlatform/packages/Microsoft.Owin.Security.MicrosoftAccount.3.0.1/lib/net45/Microsoft.Owin.Security.MicrosoftAccount.dll
InvestmentPlatform/packages/Microsoft.Owin.Security.Google.3.0.1/lib/net45/Microsoft.Owin.Security.Google.dll
InvestmentPlatform/packages/Microsoft.Owin.Security.Facebook.3.0.1/lib/net45/Microsoft.Owin.Security.Facebook.dll
InvestmentPlatform/packages/Microsoft.Owin.Security.Cookies.3.0.1/lib/net45/Microsoft.Owin.Security.Cookies.dll
InvestmentPlatform/packages/Microsoft.Owin.Security.3.0.1/lib/net45/Microsoft.Owin.Security.dll
InvestmentPlatform/packages/Microsoft.Owin.Host.SystemWeb.3.0.1/lib/net45/Microsoft.Owin.Host.SystemWeb.dll
InvestmentPlatform/packages/Microsoft.Owin.3.0.1/lib/net45/Microsoft.Owin.dll
InvestmentPlatform/packages/Microsoft.Net.Compilers.1.3.2/tools/vbc.exe
InvestmentPlatform/packages/Microsoft.Net.Compilers.1.3.2/tools/csi.exe
InvestmentPlatform/packages/Microsoft.Net.Compilers.1.3.2/tools/csc.exe
InvestmentPlatform/packages/Microsoft.Net.Compilers.1.3.2/tools/VBCSCompiler.exe
InvestmentPlatform/packages/Microsoft.Net.Compilers.1.3.2/tools/System.Reflection.Metadata.dll
InvestmentPlatform/packages/Microsoft.Net.Compilers.1.3.2/tools/System.IO.FileSystem.dll
InvestmentPlatform/packages/Microsoft.Net.Compilers.1.3.2/tools/System.IO.FileSystem.Primitives.dll
InvestmentPlatform/packages/Microsoft.AspNet.Web.Optimization.1.1.3/lib/net40/System.Web.Optimization.dll
InvestmentPlatform/packages/Microsoft.AspNet.Razor.3.2.3/lib/net45/System.Web.Razor.dll
InvestmentPlatform/packages/Microsoft.AspNet.Mvc.5.2.3/lib/net45/System.Web.Mvc.dll
InvestmentPlatform/packages/Microsoft.AspNet.Identity.Owin.2.2.1/lib/net45/Microsoft.AspNet.Identity.Owin.dll
InvestmentPlatform/packages/Microsoft.AspNet.Identity.EntityFramework.2.2.1/lib/net45/Microsoft.AspNet.Identity.EntityFramework.dll
InvestmentPlatform/packages/Microsoft.AspNet.Identity.Core.2.2.1/lib/net45/Microsoft.AspNet.Identity.Core.dll
InvestmentPlatform/packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.2.0/lib/net45/Microsoft.AI.ServerTelemetryChannel.dll
InvestmentPlatform/packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.2.0/lib/net40/Microsoft.AI.ServerTelemetryChannel.dll
InvestmentPlatform/packages/Microsoft.ApplicationInsights.WindowsServer.2.2.0/lib/net45/Microsoft.AI.WindowsServer.dll
InvestmentPlatform/packages/Microsoft.ApplicationInsights.WindowsServer.2.2.0/lib/net40/Microsoft.AI.WindowsServer.dll
InvestmentPlatform/packages/Microsoft.ApplicationInsights.Web.2.2.0/lib/net45/Microsoft.AI.Web.dll
InvestmentPlatform/packages/Microsoft.ApplicationInsights.Web.2.2.0/lib/net40/Microsoft.AI.Web.dll
InvestmentPlatform/packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.2.0/lib/net45/Microsoft.AI.PerfCounterCollector.dll
InvestmentPlatform/packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.2.0/lib/net40/Microsoft.AI.PerfCounterCollector.dll
InvestmentPlatform/packages/Microsoft.ApplicationInsights.DependencyCollector.2.2.0/lib/net45/Microsoft.AI.DependencyCollector.dll
InvestmentPlatform/packages/Microsoft.ApplicationInsights.DependencyCollector.2.2.0/lib/net40/Microsoft.AI.DependencyCollector.dll
InvestmentPlatform/packages/EntityFramework.6.2.0/tools/EntityFramework.PowerShell.Utility.dll
InvestmentPlatform/packages/EntityFramework.6.2.0/lib/net45/EntityFramework.xml
InvestmentPlatform/packages/EntityFramework.6.2.0/lib/net45/EntityFramework.dll
InvestmentPlatform/packages/EntityFramework.6.2.0/lib/net45/EntityFramework.SqlServer.xml
InvestmentPlatform/packages/EntityFramework.6.2.0/lib/net45/EntityFramework.SqlServer.dll
InvestmentPlatform/packages/EntityFramework.6.2.0/lib/net40/EntityFramework.xml
InvestmentPlatform/packages/EntityFramework.6.2.0/lib/net40/EntityFramework.dll
InvestmentPlatform/packages/EntityFramework.6.2.0/lib/net40/EntityFramework.SqlServer.xml
InvestmentPlatform/packages/EntityFramework.6.2.0/lib/net40/EntityFramework.SqlServer.dll
InvestmentPlatform/packages/EntityFramework.6.2.0/content/net40/Web.config.transform
InvestmentPlatform/packages/EntityFramework.6.2.0/content/net40/App.config.transform
InvestmentPlatform/packages/EntityFramework.6.2.0/EntityFramework.6.2.0.nupkg
InvestmentPlatform/packages/EntityFramework.6.1.3/tools/migrate.exe
InvestmentPlatform/packages/EntityFramework.6.1.3/tools/EntityFramework.PowerShell.dll
InvestmentPlatform/packages/EntityFramework.6.1.3/tools/EntityFramework.PowerShell.Utility.dll
InvestmentPlatform/packages/EntityFramework.6.1.3/lib/net45/EntityFramework.dll
InvestmentPlatform/packages/EntityFramework.6.1.0/lib/net40/EntityFramework.dll
InvestmentPlatform/packages/EntityFramework.6.1.0/lib/net40/EntityFramework.SqlServer.xml
InvestmentPlatform/packages/EntityFramework.6.1.0/lib/net40/EntityFramework.SqlServer.dll
InvestmentPlatform/packages/EntityFramework.6.1.0/content/Web.config.transform
InvestmentPlatform/packages/EntityFramework.6.1.0/content/App.config.transform
InvestmentPlatform/packages/EntityFramework.6.1.0/EntityFramework.6.1.0.nupkg
InvestmentPlatform/packages/Antlr.3.4.1.9004/lib/Antlr3.Runtime.pdb
InvestmentPlatform/packages/Antlr.3.4.1.9004/lib/Antlr3.Runtime.dll
InvestmentPlatform/InvestmentPlatform/obj/Debug/InvestmentPlatform.pdb
InvestmentPlatform/InvestmentPlatform/obj/Debug/InvestmentPlatform.dll
InvestmentPlatform/InvestmentPlatform/obj/Debug/InvestmentPlatform.csprojResolveAssemblyReference.cache
InvestmentPlatform/InvestmentPlatform/bin/roslyn/csc.exe
InvestmentPlatform/InvestmentPlatform/bin/roslyn/VBCSCompiler.exe.config
InvestmentPlatform/InvestmentPlatform/bin/roslyn/VBCSCompiler.exe
InvestmentPlatform/InvestmentPlatform/bin/roslyn/System.Reflection.Metadata.dll
InvestmentPlatform/InvestmentPlatform/bin/roslyn/System.IO.FileSystem.dll
InvestmentPlatform/InvestmentPlatform/bin/roslyn/System.IO.FileSystem.Primitives.dll
InvestmentPlatform/InvestmentPlatform/bin/roslyn/System.Diagnostics.StackTrace.dll
InvestmentPlatform/InvestmentPlatform/bin/roslyn/System.Collections.Immutable.dll
InvestmentPlatform/InvestmentPlatform/bin/roslyn/System.AppContext.dll
InvestmentPlatform/InvestmentPlatform/bin/roslyn/Microsoft.VisualBasic.Core.targets
InvestmentPlatform/InvestmentPlatform/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
InvestmentPlatform/InvestmentPlatform/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
InvestmentPlatform/InvestmentPlatform/bin/roslyn/Microsoft.CodeAnalysis.dll
InvestmentPlatform/InvestmentPlatform/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
InvestmentPlatform/InvestmentPlatform/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
InvestmentPlatform/InvestmentPlatform/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
InvestmentPlatform/InvestmentPlatform/bin/Owin.dll
InvestmentPlatform/InvestmentPlatform/bin/Newtonsoft.Json.xml
InvestmentPlatform/InvestmentPlatform/bin/Newtonsoft.Json.dll
InvestmentPlatform/InvestmentPlatform/bin/Microsoft.Web.Infrastructure.dll
InvestmentPlatform/InvestmentPlatform/bin/Microsoft.Owin.xml
InvestmentPlatform/InvestmentPlatform/bin/Microsoft.Owin.dll
InvestmentPlatform/InvestmentPlatform/bin/Microsoft.Owin.Security.xml
InvestmentPlatform/InvestmentPlatform/bin/Microsoft.Owin.Security.dll
InvestmentPlatform/InvestmentPlatform/bin/Microsoft.Owin.Security.Twitter.xml
InvestmentPlatform/InvestmentPlatform/bin/Microsoft.Owin.Security.Twitter.dll
InvestmentPlatform/InvestmentPlatform/bin/Microsoft.Owin.Security.OAuth.xml
InvestmentPlatform/InvestmentPlatform/bin/Microsoft.Owin.Security.OAuth.dll
InvestmentPlatform/InvestmentPlatform/bin/Microsoft.Owin.Security.MicrosoftAccount.xml
InvestmentPlatform/InvestmentPlatform/bin/Microsoft.Owin.Security.MicrosoftAccount.dll
InvestmentPlatform/InvestmentPlatform/bin/Microsoft.Owin.Security.Google.xml
InvestmentPlatform/InvestmentPlatform/bin/Microsoft.Owin.Security.Google.dll
InvestmentPlatform/InvestmentPlatform/obj/Debug/InvestmentPlatform.csproj.FileListAbsolute.txt
InvestmentPlatform/InvestmentPlatform/obj/Debug/InvestmentPlatform.csproj.CoreCompileInputs.cache
InvestmentPlatform/InvestmentPlatform/obj/Debug/InvestmentPlatform.csproj.CopyComplete
InvestmentPlatform/InvestmentPlatform/obj/Debug/InvestmentPlatform.Web.csprojResolveAssemblyReference.cache
InvestmentPlatform/InvestmentPlatform/obj/Debug/InvestmentPlatform.Web.csproj.GenerateResource.Cache
InvestmentPlatform/InvestmentPlatform/obj/Debug/InvestmentPlatform.Web.csproj.FileListAbsolute.txt
InvestmentPlatform/InvestmentPlatform/obj/Debug/InvestmentPlatform.Web.csproj.CoreCompileInputs.cache
InvestmentPlatform/InvestmentPlatform/obj/Debug/InvestmentPlatform.Web.csproj.CopyComplete
InvestmentPlatform/InvestmentPlatform/obj/Debug/InvestmentPlatform.Migrations.InitTables.resources
InvestmentPlatform/InvestmentPlatform/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
InvestmentPlatform/InvestmentPlatform/bin/roslyn/vbc.rsp
InvestmentPlatform/InvestmentPlatform/bin/roslyn/vbc.exe.config
InvestmentPlatform/InvestmentPlatform/bin/roslyn/vbc.exe
InvestmentPlatform/InvestmentPlatform/bin/roslyn/csi.rsp
InvestmentPlatform/InvestmentPlatform/bin/roslyn/csi.exe
InvestmentPlatform/InvestmentPlatform/bin/roslyn/csc.rsp
InvestmentPlatform/InvestmentPlatform/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
InvestmentPlatform/InvestmentPlatform/bin/roslyn/Microsoft.CSharp.Core.targets
InvestmentPlatform/InvestmentPlatform/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
InvestmentPlatform/InvestmentPlatform/bin/WebGrease.dll
InvestmentPlatform/InvestmentPlatform/bin/System.Web.WebPages.xml
InvestmentPlatform/InvestmentPlatform/bin/System.Web.WebPages.dll
InvestmentPlatform/InvestmentPlatform/bin/System.Web.WebPages.Razor.xml
InvestmentPlatform/InvestmentPlatform/bin/System.Web.WebPages.Razor.dll
InvestmentPlatform/InvestmentPlatform/bin/System.Web.WebPages.Deployment.xml
InvestmentPlatform/InvestmentPlatform/bin/System.Web.WebPages.Deployment.dll
InvestmentPlatform/InvestmentPlatform/bin/System.Web.Razor.xml
InvestmentPlatform/InvestmentPlatform/bin/System.Web.Razor.dll
InvestmentPlatform/InvestmentPlatform/bin/System.Web.Optimization.xml
InvestmentPlatform/InvestmentPlatform/bin/System.Web.Optimization.dll
InvestmentPlatform/InvestmentPlatform/bin/System.Web.Mvc.xml
InvestmentPlatform/InvestmentPlatform/bin/System.Web.Mvc.dll
InvestmentPlatform/InvestmentPlatform/bin/System.Web.Helpers.xml
InvestmentPlatform/InvestmentPlatform/bin/System.Web.Helpers.dll
InvestmentPlatform/InvestmentPlatform/bin/Microsoft.Owin.Security.Facebook.xml
InvestmentPlatform/InvestmentPlatform/bin/Microsoft.Owin.Security.Facebook.dll
InvestmentPlatform/InvestmentPlatform/bin/Microsoft.Owin.Security.Cookies.xml
InvestmentPlatform/InvestmentPlatform/bin/Microsoft.Owin.Security.Cookies.dll
InvestmentPlatform/InvestmentPlatform/bin/Microsoft.Owin.Host.SystemWeb.xml
InvestmentPlatform/InvestmentPlatform/bin/Microsoft.Owin.Host.SystemWeb.dll
InvestmentPlatform/InvestmentPlatform/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
InvestmentPlatform/InvestmentPlatform/bin/Microsoft.AspNet.Identity.Owin.xml
InvestmentPlatform/InvestmentPlatform/bin/Microsoft.AspNet.Identity.Owin.dll
InvestmentPlatform/InvestmentPlatform/bin/Microsoft.AspNet.Identity.EntityFramework.xml
InvestmentPlatform/InvestmentPlatform/bin/Microsoft.AspNet.Identity.EntityFramework.dll
InvestmentPlatform/InvestmentPlatform/bin/Microsoft.AspNet.Identity.Core.xml
InvestmentPlatform/InvestmentPlatform/bin/Microsoft.AspNet.Identity.Core.dll
InvestmentPlatform/InvestmentPlatform/bin/Microsoft.ApplicationInsights.xml
InvestmentPlatform/InvestmentPlatform/bin/Microsoft.ApplicationInsights.dll
InvestmentPlatform/InvestmentPlatform/bin/Microsoft.AI.WindowsServer.xml
InvestmentPlatform/InvestmentPlatform/bin/Microsoft.AI.WindowsServer.dll
InvestmentPlatform/InvestmentPlatform/bin/Microsoft.AI.Web.xml
InvestmentPlatform/InvestmentPlatform/bin/Microsoft.AI.Web.dll
InvestmentPlatform/InvestmentPlatform/bin/Microsoft.AI.ServerTelemetryChannel.xml
InvestmentPlatform/InvestmentPlatform/bin/Microsoft.AI.ServerTelemetryChannel.dll
InvestmentPlatform/InvestmentPlatform/bin/Microsoft.AI.PerfCounterCollector.dll
InvestmentPlatform/InvestmentPlatform/bin/Microsoft.AI.DependencyCollector.xml
InvestmentPlatform/InvestmentPlatform/bin/Microsoft.AI.DependencyCollector.dll
InvestmentPlatform/InvestmentPlatform/bin/Microsoft.AI.Agent.Intercept.dll
InvestmentPlatform/InvestmentPlatform/bin/InvestmentPlatform.pdb
InvestmentPlatform/InvestmentPlatform/bin/InvestmentPlatform.dll.config
InvestmentPlatform/InvestmentPlatform/bin/InvestmentPlatform.dll
InvestmentPlatform/InvestmentPlatform/bin/InvestmentPlatform.Domain.pdb
InvestmentPlatform/InvestmentPlatform/bin/InvestmentPlatform.Domain.dll.config
InvestmentPlatform/InvestmentPlatform/bin/InvestmentPlatform.Domain.dll
InvestmentPlatform/InvestmentPlatform/bin/InvestmentPlatform.Application.pdb
InvestmentPlatform/InvestmentPlatform/bin/InvestmentPlatform.Application.dll.config
InvestmentPlatform/InvestmentPlatform/bin/InvestmentPlatform.Application.dll
InvestmentPlatform/InvestmentPlatform/bin/EntityFramework.xml
InvestmentPlatform/InvestmentPlatform/bin/EntityFramework.dll
InvestmentPlatform/InvestmentPlatform/bin/EntityFramework.SqlServer.xml
InvestmentPlatform/InvestmentPlatform/bin/EntityFramework.SqlServer.dll
InvestmentPlatform/InvestmentPlatform/bin/ApplicationInsights.config
InvestmentPlatform/InvestmentPlatform/bin/Antlr3.Runtime.pdb
InvestmentPlatform/InvestmentPlatform/bin/Antlr3.Runtime.dll
InvestmentPlatform/InvestmentPlatform.Domain/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
InvestmentPlatform/InvestmentPlatform.Domain/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
InvestmentPlatform/InvestmentPlatform.Domain/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
InvestmentPlatform/InvestmentPlatform.Domain/obj/Debug/InvestmentPlatform.Domain.pdb
InvestmentPlatform/InvestmentPlatform.Domain/obj/Debug/InvestmentPlatform.Domain.dll
InvestmentPlatform/InvestmentPlatform.Domain/obj/Debug/InvestmentPlatform.Domain.csprojResolveAssemblyReference.cache
InvestmentPlatform/InvestmentPlatform.Domain/obj/Debug/InvestmentPlatform.Domain.csproj.FileListAbsolute.txt
InvestmentPlatform/InvestmentPlatform.Domain/obj/Debug/InvestmentPlatform.Domain.csproj.CoreCompileInputs.cache
InvestmentPlatform/InvestmentPlatform.Domain/obj/Debug/InvestmentPlatform.Domain.csproj.CopyComplete
InvestmentPlatform/InvestmentPlatform.Domain/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
InvestmentPlatform/InvestmentPlatform.Domain/bin/Debug/Microsoft.AspNet.Identity.EntityFramework.xml
InvestmentPlatform/InvestmentPlatform.Domain/bin/Debug/Microsoft.AspNet.Identity.EntityFramework.dll
InvestmentPlatform/InvestmentPlatform.Domain/bin/Debug/Microsoft.AspNet.Identity.Core.xml
InvestmentPlatform/InvestmentPlatform.Domain/bin/Debug/Microsoft.AspNet.Identity.Core.dll
InvestmentPlatform/InvestmentPlatform.Domain/bin/Debug/InvestmentPlatform.Domain.pdb
InvestmentPlatform/InvestmentPlatform.Domain/bin/Debug/InvestmentPlatform.Domain.dll.config
InvestmentPlatform/InvestmentPlatform.Domain/bin/Debug/InvestmentPlatform.Domain.dll
InvestmentPlatform/InvestmentPlatform.Domain/bin/Debug/EntityFramework.xml
InvestmentPlatform/InvestmentPlatform.Domain/bin/Debug/EntityFramework.dll
InvestmentPlatform/InvestmentPlatform.Domain/bin/Debug/EntityFramework.SqlServer.xml
InvestmentPlatform/InvestmentPlatform.Domain/bin/Debug/EntityFramework.SqlServer.dll
InvestmentPlatform/InvestmentPlatform.Application/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
InvestmentPlatform/InvestmentPlatform.Application/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
InvestmentPlatform/InvestmentPlatform.Application/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
InvestmentPlatform/InvestmentPlatform.Application/obj/Debug/InvestmentPlatform.Application.pdb
InvestmentPlatform/InvestmentPlatform.Application/obj/Debug/InvestmentPlatform.Application.dll
InvestmentPlatform/InvestmentPlatform.Application/obj/Debug/InvestmentPlatform.Application.csprojResolveAssemblyReference.cache
InvestmentPlatform/InvestmentPlatform.Application/obj/Debug/InvestmentPlatform.Application.csproj.FileListAbsolute.txt
InvestmentPlatform/InvestmentPlatform.Application/obj/Debug/InvestmentPlatform.Application.csproj.CoreCompileInputs.cache
InvestmentPlatform/InvestmentPlatform.Application/obj/Debug/InvestmentPlatform.Application.csproj.CopyComplete
InvestmentPlatform/InvestmentPlatform.Application/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
InvestmentPlatform/InvestmentPlatform.Application/bin/Debug/Microsoft.AspNet.Identity.EntityFramework.xml
InvestmentPlatform/InvestmentPlatform.Application/bin/Debug/Microsoft.AspNet.Identity.EntityFramework.dll
InvestmentPlatform/InvestmentPlatform.Application/bin/Debug/Microsoft.AspNet.Identity.Core.xml
InvestmentPlatform/InvestmentPlatform.Application/bin/Debug/Microsoft.AspNet.Identity.Core.dll
InvestmentPlatform/InvestmentPlatform.Application/bin/Debug/InvestmentPlatform.Domain.pdb
InvestmentPlatform/InvestmentPlatform.Application/bin/Debug/InvestmentPlatform.Domain.dll.config
InvestmentPlatform/InvestmentPlatform.Application/bin/Debug/InvestmentPlatform.Domain.dll
InvestmentPlatform/InvestmentPlatform.Application/bin/Debug/InvestmentPlatform.Application.pdb
InvestmentPlatform/InvestmentPlatform.Application/bin/Debug/InvestmentPlatform.Application.dll.config
InvestmentPlatform/InvestmentPlatform.Application/bin/Debug/InvestmentPlatform.Application.dll
InvestmentPlatform/InvestmentPlatform.Application/bin/Debug/EntityFramework.xml
InvestmentPlatform/InvestmentPlatform.Application/bin/Debug/EntityFramework.dll
InvestmentPlatform/InvestmentPlatform.Application/bin/Debug/EntityFramework.SqlServer.xml
InvestmentPlatform/InvestmentPlatform.Application/bin/Debug/EntityFramework.SqlServer.dll
InvestmentPlatform/InvestmentPlatform/InvestmentPlatform.csproj.user
InvestmentPlatform/InvestmentPlatform/InvestmentPlatform.Web.csproj.user
InvestmentPlatform/.vs/InvestmentPlatform/v15/sqlite3/storage.ide
InvestmentPlatform/.vs/InvestmentPlatform/v15/.suo
