
@{
    ViewBag.Title = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="header-page">SOLUTIONS</h2>
<div class="header-separator"></div>
<br />
<br />
<br />

<div class="search-block-solutions">
    <div>
        <div class="search-parameters-row">
            Search by parameters
        </div>
            <div class="search-parameters-row">
                <div class="">
                    <select class=""></select>
                    <select class=""></select>
                    <select class=""></select>
                </div>
            </div>
            <div class="search-parameters-row">
                <div class="">
                    <select class=""></select>
                    <select class=""></select>
                    <select class=""></select>
                </div>
            </div>
            <div class="search-parameters-row">
                <div>
                    <input class="form-control search-input-solutions" placeholder="Search..." />
                    <input class="custom-button" type="submit" value="Find" />
                    <input class="custom-button-reset" type="button" value="Reset" />
                </div>
            </div>
        </div>
</div>

<div class="header-search-results">
    <h2>Solutions</h2>
    <p>500 results</p>
</div>

<div class="home-page-solutions-block">
    @for (int i = 0; i < 9; i++)
    {
        <a href="#">
            <div class="home-page-solutions">
                <div class="home-page-solutions-image">
                    <img src="~/Content/images/homepage/ny1.jpg">
                </div>

                <div class="home-page-solutions-description">
                    <p class="home-page-solution-title">
                        Solution title
                    </p>
                    <p>
                        I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.
                    </p>
                    <p><span class="blue-text bold-font">Location:</span> Belarus, Molodechno</p>
                    <p><span class="blue-text bold-font">Investment size:</span> 1000000 $</p>

                </div>
            </div>
        </a>
    }

</div>
<div class="pagination-block">
    <ul class="pagination">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
    </ul>
</div>