body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Titillium Web', sans-serif !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.inline-display {
    display: inline-block;
}

.navbar-style {
    background-color: #1e2d3b;
    z-index:99999;
}

.navbar-style a {
    color: #FFFFFF !important;
}

.navbar-style a:hover {
    color: rgba(237, 205, 31, 1) !important;
}

.navbar-style-header {
    background-color: rgba(237, 205, 31, 1);
}

.navbar-style-header a{
    color: #1e2d3b !important;
}

.navbar-style-header a:hover {
    color: #1e2d3b !important;
}

.navbar-style-width {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.navbar-logo {
    margin: unset !important;
}
.home-page-carousel {
    margin-top: 5px;
}

.home-page-solutions-block {
    margin:auto;
}

.home-page-solutions:hover {
    opacity:0.7;
}

.home-page-solutions-image {
    /*width: 300px;
    height: 227px;*/
}

.home-page-solutions-image img {
    width: 100%;
    height: auto;
}

.home-page-solutions-description {
    background-color: rgb(247, 247, 247);
    padding: 20px;
    color: #3B3A3A;
}

.home-page-solution-title {
    font-size: 22px;
    color: #3D5975;
}

.home-page-statistic-number {
    height: 50%;
    font-size: 60px;
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;
}

.home-page-statistic-text {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: #3D5975;

}

.register-block-link {
    display: inline-block;
    text-decoration: none;
}

.register-block-link div {
    position: relative;
}

.register-block-link span {
    position: absolute;
    color: white;
    font-size: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.registration-form {
    border: 1px solid #3D5975;
}

.register-block-link div:hover {
    background-color: rgba(247, 247, 247, 1);
}

.register-block-link img{
    width: 100%;
}

.register-block-link:hover {
    opacity: 0.7;
}

.registration-form-inputs {
    padding: 30px;
}

.registration-form-inputs input, textarea {
    max-width: unset;
}

.registration-form-inputs textarea {
   min-height: 100px;
}

.registration-form-inputs label {
    color: #3B3A3A;
    font-weight: 300;
}

.registration-button-block {
    margin: auto;
    height: 45px;
    
}

.registration-button-block input {
    background-color: #3D5975;
    color: rgba(237, 205, 31, 1);
    border: none;
    padding: 10px 25px 10px 25px;
    font-size: 18px;
    margin: auto;
    display: block;
}

.registration-button-block input:hover {
    background-color: rgba(237, 205, 31, 1);
    color: #3D5975;
}

.custom-button {
    background-color: #3D5975;
    color: rgba(237, 205, 31, 1);
    border: none;
    padding: 4.2px 5px 4.2px 5px;
    font-size: 18px;
    display: inline-block;
    width: 15%;
    text-decoration: none;
    text-align: center;
}

.custom-button:hover {
    background-color: rgba(237, 205, 31, 1);
    color: #3D5975;
    text-decoration: none;
}

.custom-button-reset {
    background-color: #e7e8e9;
    color: rgba(237, 205, 31, 1);
    border: none;
    padding: 4.2px 5px 4.2px 5px;
    font-size: 18px;
    display: inline-block;
    width: 15%;
    float: right;
    text-decoration: none;
    text-align: center;
}

.custom-button-reset:hover {
    background-color: #babab9;
    color: #3D5975;
    text-decoration: none;
}

.registration-form-required-field {
    margin-bottom: 0px;
}

.registration-form-required-field label {
    font-weight: 600 !important;
    float: right;
}

.form-control:focus {
    border-color: #3D5975;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #3D5975;
}

.form-control option:hover {
    background-color: #3D5975;
}

.checkboxes-block {
    max-height: 200px;
    overflow: auto;
    border: 1px solid #3D5975;
    position: absolute;
    z-index: 9999;
    background: white;
    display: block;
    width: 100%;
    max-width: 280px;
    padding-left: 12px;
    padding-right: 12px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.checkboxes-block:focus {
    border-color: #3D5975;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #3D5975;
}

.list-name-solution {
    display: inline-block;
    vertical-align: top;
    width: 140px;
}

.list-block-solution {
    display: inline-block;
}

.block-text-solution {
    width: 60%;
    display: inline-block;
    padding-right: 20px;
}

.image-solution {
    display: inline-block;
    width: 39%;
    vertical-align: top;
}

.image-solution img {
    width: 100%;
}

.location-solution {
    font-size: 20px;
}

.font-solution {
    font-size: 16px;
}

.bold-font {
    font-weight: 600;
}

.blue-text {
    color: #3D5975;
}
.search-block-solutions {
    background-color: rgb(247, 247, 247);
    padding-bottom: 25px;
    padding-top: 20px;
}

.header-search-results h2 {
     color: #1e2d3b;
}

.pagination-block {
    height: 34px;
    width: 100%;
}
.content-on-carousel {
    top: 40%;
    position: absolute;
    width: 100%;
    color: white;
    text-align: center;
    transform: translateY(-50%);
    z-index: 5;
}

.sort-block {
    height: 34px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.pagination-block .pagination {
    display: block;
    margin: auto;
    height: 34px;
    margin-top: 20px;
    width: 170px;
}

.sectors-dropdown {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    max-width: 280px;
    cursor: pointer;
}

.profile-navigation-block {
    width: 60%;
    margin: auto;
}

.profile-navigation-block a {
    text-align: center;
    width: 33%;
    display: inline-block;
    text-decoration: none;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #3D5975;
}

.active-tab {
    background-color: rgba(237, 205, 31, 1);
}

.navigation-top-hr {
    margin-bottom: 5px;
}

.navigation-bottom-hr {
    margin-top: 5px;
}

.project-actions-block {
    padding: 0 15px 15px 15px;
}

.project-actions-block a {
    width: 49%;
    display: inline-block;
    text-align: center;
}

.my-projects-block{
    display: inline-block;
    vertical-align: top;
}

.solution-sectros-block {
    border: 2px solid;
    padding: 5px 5px 0 5px;
    border-radius: 4px;
    border-color: #3D5975;
    background-color: #f7f7f7;
}

@media (min-width: 768px) {
    .my-projects-block {
        width: 33%;
    }

    .navbar-nav > li > a {
        padding-top: 18px;
    }

    .inv-size-input{
        width: 25% !important;
        display: inline-block;
    }

    .inv-size-label {
        width: calc(12.5% - 48px) !important;
        display: inline-block;
    } 

    .header-search-results{
        margin-left: 15px;
    }
    
    .search-input-solutions {
        max-width: none;
        width: 66%;
        margin-right: 1.5%;
        display: inline-block;
        vertical-align: top;
    }

    .left-register-block {
        width: 30%;
    }

    .right-register-block {
        width: 30%;
    }


    .home-page-statistic-block {
        height: 230px;
        background-color: rgba(237, 205, 31, 1);
        padding: 30px 120px 30px 120px;
    }

    .home-page-statistic {
        height: 100%;
        display: inline-block;
        width: calc(25% - 3px);
    }

    .home-page-solutions {
        width: 33%;
        display: inline-block;
        padding: 15px;
        vertical-align: top;
    }

    .my-projects-block div:nth-child(1) {
        width: 100% !important;
    }

    .registration-page {
        width: 100%;
        height: 300px;
    }

    .login-form {
        margin: auto;
        width: 40%;
    }

    .header-separator {
        background-color: rgba(237, 205, 31, 1);
        width: 120px;
        height: 10px;
        margin: auto;
    }

    .header-page {
        text-align: center;
        color: #C6C6C6;
        font-size: 55px;
        letter-spacing: 0.05em;
        margin-top: 45px;
    }

    .header-page-solution {
        color: #C6C6C6;
        font-size: 55px;
        letter-spacing: 0.05em;
        margin-top: 45px;
        width: 90%;
    }

    .header-separator-solution {
        background-color: rgba(237, 205, 31, 1);
        width: 120px;
        height: 10px; 
    }

    .header-block-solution {
        padding: 20px;
        background-color: #f7f7f7;
    }
    
    .left-register-block {
        margin-left: 170px;
    }

    .right-register-block {
        margin-right: 170px;
        float: right;
    }

    .search-parameters-row {
        height: 34px;
        margin: auto;
        width: 86%;
        margin-bottom: 5px;
    }

    .search-label {
        height: 34px;
        margin: auto;
        width: 86%;
    }

    .search-parameters-row .filter-block {
        width: 32% !important;
        display: inline-block;
        max-width: unset;
    }

    .search-parameters-row .filter-block:nth-child(2) {
        margin-left: 1.5%;
        margin-right: 1.5%;
    }

    .error-text {
        margin-left: calc(25% + 12px);
        display: block;
    }

    .validation-summary {
        margin-left: calc(25% + 12px);
    }

    .validation-summary ul {
        list-style-type: none;
        padding: 0
    }

    .follow-star {
        display: inline-block;
        float: right;
        margin-top: 45px;
    }
}

@media (max-width: 768px) {

    .my-projects-block {
        width: 100%;
    }

    .follow-star {
        display: inline-block;
        float: right;
        margin-top: 20px;
    }

    .follow-star img{
        width: 40px;
        height: 40px;
    }

    .search-block-solutions div:nth-child(1) {
        width: 86%;
        margin: auto;
    }

    .home-page-statistic-block {
        height: auto;
        background-color: rgba(237, 205, 31, 1);
        padding: 30px;
    }

    .home-page-statistic {
        height: 100%;
        width: 100%;
    }

    .home-page-solutions {
        width: 100%;
        margin-top: 20px;
    }

    .registration-page {
        width: 100%;
    }

    .checkboxes-block {
        width: calc(100% - 30px);
    }

    .header-separator {
        background-color: rgba(237, 205, 31, 1);
        width: 100%;
        height: 5px;
        margin: auto;
    }

    .header-page {
        text-align: center;
        color: #C6C6C6;
        font: normal normal normal 32px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif;
        letter-spacing: 0.05em;
    }

    .header-page-solution {
        color: #C6C6C6;
        font: normal normal normal 32px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif;
        letter-spacing: 0.05em;
    }

    .header-separator-solution {
        background-color: rgba(237, 205, 31, 1);
        width: 100%;
        height: 5px;
    }

    .right-register-block {
        margin-top: 30px;
    }

    .left-register-block {
        width: 100%;
    }

    .right-register-block {
        width: 100%;
    }

    .left-register-block {
        margin-left: 0px !important;
    }

    .right-register-block {
        margin-right: 0px !important;
    }

    .search-parameters-row .sectors-dropdown {
        width: 100%;
        display: block;
        max-width: none;
        margin-top: 10px;
    }

    .search-input-solutions {
        max-width: none;
        margin-top: 10px;
    }

    .error-text {
        display: block;
    }

    .validation-summary ul {
        list-style-type: none;
        padding: 0
    }

    .custom-button {
        width: 40%;
        margin-top: 10px;
    }

    .custom-button-reset {
        width: 40%;
        margin-top: 10px;
    }
}

@media (max-width: 1024px) {
    .left-register-block {
        margin-left: 100px;
    }

    .right-register-block {
        margin-right: 100px;
    }

    .search-block-solutions div:nth-child(1) {
        width: 96%;
        margin: auto;
    }


    .error-text {
        margin-left: 0;
        display: block;
    }

    .validation-summary {
        margin-left:  0;
    }
}
