body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Titillium Web', sans-serif !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-style {
    background-color: #1e2d3b;
    z-index:99999;
}

.navbar-style a {
    color: #FFFFFF !important;
}

.navbar-style a:hover {
    color: rgba(237, 205, 31, 1) !important;
}

.navbar-style-header {
    background-color: rgba(237, 205, 31, 1);
}

.navbar-style-header a{
    color: #1e2d3b !important;
}

.navbar-style-header a:hover {
    color: #1e2d3b !important;
}

.navbar-style-width {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.home-page-carousel {
    margin-top: 15px;
}

.home-page-solutions-block {
    margin:auto;
}

.home-page-solutions:hover {
    opacity:0.7;
}

.home-page-solutions-image {
    /*width: 300px;
    height: 227px;*/
}

.home-page-solutions-image img {
    width: 100%;
    height: auto;
}

.home-page-solutions-description {
    background-color: rgb(247, 247, 247);
    padding: 20px;
    color: #3B3A3A;
}

.home-page-solution-title {
    font-size: 22px;
    color: #3D5975;
}

.register-block-link {
    display: inline-block;
    text-decoration: none;
}

.register-block-link div {
    position: relative;
}

.register-block-link span {
    position: absolute;
    color: white;
    font-size: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.registration-form {
    border: 1px solid #3D5975;
}

.register-block-link div:hover {
    background-color: rgba(247, 247, 247, 1);
}

.register-block-link img{
    width: 100%;
}

.register-block-link:hover {
    opacity: 0.7;
}

.registration-form-inputs {
    padding: 30px;
}

.registration-form-inputs input, textarea {
    max-width: unset;
}

.registration-form-inputs textarea {
   min-height: 100px;
}

.registration-form-inputs label {
    color: #3B3A3A;
    font-weight: 300;
}

.registration-button-block {
    margin: auto;
    height: 45px;
    
}

.registration-button-block input {
    background-color: #3D5975;
    color: rgba(237, 205, 31, 1);
    border: none;
    padding: 10px 25px 10px 25px;
    font-size: 18px;
    margin: auto;
    display: block;
}

.registration-button-block input:hover {
    background-color: rgba(237, 205, 31, 1);
    color: #3D5975;
}

.registration-form-required-field {
    margin-bottom: 0px;
}

.registration-form-required-field label {
    font-weight: 600 !important;
    float: right;
}

.form-control:focus {
    border-color: #3D5975;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #3D5975;
}

.form-control option:hover {
    background-color: #3D5975;
}

.checkboxes-block {
    max-height: 200px;
    overflow: auto;
    border: 1px solid #3D5975;
    position: absolute;
    z-index: 9999;
    background: white;
    display: block;
}

@media (min-width: 768px) {
    .checkboxes-block {
        width: 200px;
    }

    .left-register-block {
        width: 30%;
    }

    .right-register-block {
        width: 30%;
    }


    .home-page-solutions {
        width: 33%;
        display: inline-block;
        padding: 15px;
    }

    .registration-page {
        width: 100%;
        height: 300px;
    }

    .login-form {
        margin: auto;
        width: 40%;
    }

    .header-separator {
        background-color: rgba(237, 205, 31, 1);
        width: 120px;
        height: 10px;
        margin: auto;
    }

    .header-page {
        text-align: center;
        color: #C6C6C6;
        font-size: 55px;
        letter-spacing: 0.05em;
    }

    .left-register-block {
        margin-left: 170px;
    }

    .right-register-block {
        margin-right: 170px;
        float: right;
    }
}

@media (max-width: 768px) {

    .home-page-solutions {
        width: 100%;
        margin-top: 20px;
    }

    .registration-page {
        width: 100%;
    }

    .checkboxes-block {
        width: calc(100% - 30px);
    }

    .header-separator {
        background-color: rgba(237, 205, 31, 1);
        width: 100%;
        height: 5px;
        margin: auto;
    }

    .header-page {
        text-align: center;
        color: #C6C6C6;
        font: normal normal normal 32px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif;
        letter-spacing: 0.05em;
    }

    .right-register-block {
        margin-top: 30px;
    }

    .left-register-block {
        width: 100%;
    }

    .right-register-block {
        width: 100%;
    }

    .left-register-block {
        margin-left: 0px !important;
    }

    .right-register-block {
        margin-right: 0px !important;
    }
}

@media (max-width: 1024px) {
    .left-register-block {
        margin-left: 100px;
    }

    .right-register-block {
        margin-right: 100px;
    }
}
